@import "../components/bootstrap/less/bootstrap.less";

body {
	padding-top: 30px;
    background: #fafafa;
}

.hero-unit {
	padding: none;
}

.garden-box .typing-wrapper .typing-type-here {
	background-image: none;
	width: 100%;
	padding: 5px 20px;
	height: 50px;
}

textarea.roundy, input[type="text"].roundy, input[type="password"].roundy, input[type="email"].roundy, .uneditable-input.roundy, .input.roundy {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}