@import "../components/bootstrap/less/bootstrap.less";

@lightblue: #15a1ec;
@darkblue: #2993cf;

body {
  background-color: transparent;
  background: transparent;
  color: #3e3e3e;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: "Helvetica Neue","Helvetica","Arial","Kai","KaiTi",Sans-Serif;
}

#main {
	margin-top: 2.127659574468085%;
}

.box-shadow (@x: 10px, @y: 10px, @blur: 10px, @spread: -4px, @inset...) {
	-webkit-box-shadow: @x @y @blur @spread @darkblue @inset;
	-moz-box-shadow: 		@x @y @blur @spread @darkblue @inset;
	-ms-box-shadow: 		@x @y @blur @spread @darkblue @inset;
	-o-box-shadow: 			@x @y @blur @spread @darkblue @inset;
	box-shadow: 				@x @y @blur @spread @darkblue @inset;
}

#login {
	.row-fluid {
		margin-top: 14%;
	}
	h1 {
		margin-top: 2%;
		text-align: center;
	}
	h3 {
		text-align: center;
	}
}

#inputArea {
	margin-top: 3%;
	h1, h2, h3, h4 {
		text-align: center;
	}
}

#thisPlayer, #thatPlayer {
	#points {
		color: #333;
		text-align: center;
		vertical-align: center;
		margin-top: 25%;
		padding: 0;
	}
	.btn {
		margin-top: 5%;
	}
	#courses {
		margin-top: 5%;
		li a {
			padding: 5px;
		}
	}
	.currentPlayer {
		.box-shadow(0, 0, 12px, 4px);
	}
	.nav {
		margin-bottom: 0;
	}
}

#thatPlayer h4 {
	margin-right: 2%;
	text-align: right;
}

.media-body {
	.media-heading {
		margin-left: 2%;
	}
	.media-object {
		padding: 2%;
		display: inline;
	}
}

canvas {
	margin: 0 auto;
	margin-top: 1%;
	z-index: 0;
}

.circle {
	background-color: transparent;
	background-image: url("http://static.memrise.com/garden/img/ui/circle-frame@2x.png?9a622f");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 80px;
	height: 80px;
}

.typing-wrapper .typing-type-here {
	background-image: none;
	width: 95%;
	padding: 5px 20px;
	height: 50px;
	margin: 0 0 0 0;
}

.shiny-box, input[type="text"] {
	padding: 0;
	margin: 0;
	color: #3e3e3e;
	background-color: #fff;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	text-shadow: 0 1px 0 #aaa,0 1px 0 #e6e6e6 #aaa;
	text-shadow: 0 1px 0 #e6e6e6 #aaa,0 1px 0 #e6e6e6 #aaa;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	font-family: "Times New Roman","Times","Kai","KaiTi",Serif;
	font-size: 26px;
	line-height: 36px;
}

.shiny-box.incorrect {
	border-color: #dd2231;
	background-color: #e44e5a;
	color: white;
}

textarea.roundy, input[type="text"].roundy, input[type="password"].roundy, input[type="email"].roundy, .uneditable-input.roundy, .input.roundy {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
