<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link rel="stylesheet" href="styles/main.css">
      <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
      <!-- build:js scripts/vendor/modernizr.js -->
      <script src="components/modernizr/modernizr.js"></script>
      <!-- endbuild -->
    </head>
    <body>
      <div class="container-fluid">
        <div id="main" class="row-fluid">
        </div>
      </div>

      <script id="playerTemplate" type="text/template" class="template">
        <img class="img-polaroid <%= position === 'left' ? 'pull-left' : 'pull-right' %>" src="<%= photo_small %>" height="60" width="60">
        <div class="circle <%= position === 'left' ? 'pull-right' : 'pull-left' %>">
          <h3 id="points"><%= points %></h3>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= username %>
          </h4>
          <% for (var i = 0; i < lives; i++) { %>
            <img class="media-object <%= position === 'left' ? 'pull-left' : 'pull-right' %>" src="/images/small_plant.png">
          <% } %>
        </div>
        <div id="courses"></div>
        <button class="btn btn-block" type="button">Ready!</button>
      </script>

      <script id="courseTemplate" type="text/template" class="template">
        <a>
          <img class="img-polaroid" src="<%= photo %>" width="32" height="32">
          <%= name %>
        </a>
      </script>

      <script id="gameTemplate" type="text/template" class="template">
          <div class="span4">
            <div id="thisPlayer" class="span9"></div>
            <div class="span3"></div>
          </div>
          <div id="inputArea" class="span4"></div>
          <div class="span4">
            <div class="span3"></div>
            <div id="thatPlayer" class="span9"></div>
          </div>
          <div id="game"></div>
      </script>

      <script id="inputTemplate" type="text/template" class="template">
        <input type="text" id="guess" class="shiny-box roundy typing-type-here" tabindex="1" autocomplete="off" spellcheck="false">
      </script>

      <script id="loginTemplate" type="text/template" class="template">
        <h1>Membattles!</h1>
        <div class="row-fluid">
          <div class="span4"></div>
          <form class="span4 form-horizontal">
            <h3>Login</h3>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <!-- this is not a valid type, but will be displayed as text -->
                <input type="username" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                <input type="password" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn">Sign in</button>
              </div>
            </div>
          </form>
          <div class="span4"></div>
        </div>
      </script>

      <script id="noItemsTemplate" type="text/template" class="template">
        Nothing to display.
      </script>

      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>

      <!-- build:js scripts/main.js -->
      <script data-main="scripts/main" src="components/requirejs/require.js"></script>
      <!-- endbuild -->
  </body>
</html>
